
/* default thingys, defining the variables and giving them values */
:root {
    --button-bg: url("https://i.pinimg.com/736x/e1/7e/d1/e17ed16c4780bdd5dc791dac1862e40e.jpg");
    --server-add: #341d5c;
    --highlights1: #150c25;
    --highlights2: #291749;
    --chat-bar: #3e236e;
    --user: #3e236e;
    --nick: #3e236e;
    --password: #3e236e;
    --login-password: #3e236e;
    --login-user: #3e236e;
    --done-button: #150c25;
    --all-channels: #291749;
    --channels: #150c25;
    --body-color: #341d5c;
    --users-gradient: linear-gradient(to right, #291749, #150c25);
    --channels-gradient: linear-gradient(to left, #291749, #150c25);
}


/* rainbow theme */
body.theme-rainbow {
    --button-bg: url("https://i.pinimg.com/736x/51/b5/fe/51b5fec7ffc14b2e4b635da3baf88cf4.jpg");
    --server-add: #ff9bf8;
    --highlights1: #b186fc;
    --highlights2: #ff6262;
    --chat-bar: #ff9bf8;
    --user: #ff9bf8;
    --nick: #ff9bf8;
    --password: #ff9bf8;
    --login-password: #ff9bf8;
    --login-user: #ff9bf8;
    --done-button: #ff5cf4;
    --all-channels: #ff9bf8;
    --channels: #ff9bf8;
    --body-color: #cbe8fd;
    --users-gradient: linear-gradient(to right, #ff6262, #ffa662, #ffed62, #87ff62, #62b8ff, #b186fc);
    --channels-gradient: linear-gradient(to left, #ff6262,  #ffa662, #ffed62, #87ff62, #62b8ff, #b186fc);
}

/* dark theme */
body.theme-dark {
    --button-bg: url("https://i.pinimg.com/736x/27/96/82/279682c9693b934075b5bd0eeb9a34ed.jpg");
    --server-add: #323232;
    --highlights1: #131313;
    --highlights2: #000000;
    --chat-bar: #323232;
    --user: #323232;
    --nick: #323232;
    --password: #323232;
    --login-password: #323232;
    --login-user: #323232;
    --done-button: #212121;
    --all-channels: #323232;
    --channels: #323232;
    --body-color: #131311;
    --users-gradient: linear-gradient(to right, #000000, #131313);
    --channels-gradient: linear-gradient(to left, #000000,  #131313);
}

/* duk theme */
body.theme-duk {
    --button-bg: url("https://i.pinimg.com/736x/08/f5/0c/08f50cf0aac443c1d939bde736eae704.jpg");
    --server-add: #C9F3FF;
    --highlights1: #8CCBEA;
    --highlights2: #C9F3FF;
    --chat-bar: #99e7fd;
    --user: #99e7fd;
    --nick: #99e7fd;
    --password: #99e7fd;
    --login-password: #99e7fd;
    --login-user: #99e7fd;
    --done-button: #27d0ff;
    --all-channels: #99e7fd;
    --channels: #99e7fd;
   /* --body-color: #77e1ff;*/
    --body-image: url("https://cdn.discordapp.com/attachments/1301576698529058858/1379027817508896849/image.jpg?ex=683ebf3c&is=683d6dbc&hm=8cc6ca8d30aca39583ee4ef630a0374c29180441731db74129fad9daf4b4cdec&");
    --users-gradient: linear-gradient(to right, #8CCBEA, #C9F3FF);
    --channels-gradient: linear-gradient(to left, #8CCBEA,  #C9F3FF);
}

/* the thingy beneath the servers */
.highlights {
    background-color: var(--highlights1); /* uses variable */
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Buttons inside sidebar */
.server-button, .server-add {
    width: 50px;
    height: 50px;
    border: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
}

/* button positions */
.server-button {
    background-image: var(--button-bg);
}


.server-add {
    background-color: var(--server-add);
    font-size: 30px;
    font-weight: 50;
    color: #ffffff;
}

/* thingy beneath channels, next to server bar thingy */
.highlights2 {
    color: #ffffff;
    background-color: var(--highlights2);
    font-size: 16px;
    font-weight: 50;
    border-radius: 5px;

    
    height: 100%;
    
    font-family: 'Noto Sans', sans-serif;

    /* Proper text alignment */
    display: block;  
    padding: 10px;  
    
    /* Prevent text from going outside */
    overflow: hidden;
    word-wrap: break-word;
    
    /* Positioning */
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
}

/* chat bar. yep. thats it xd */

.chat-bar {
    color: #ffffff;
    background-color: var(--chat-bar);
    font-size: 16px;
    font-weight: 50;   
    border-radius: 5px;
    
    border: none;
    outline: none;
    
    font-family: 'Noto Sans', sans-serif;
    
    height: 40px; 
    display: flex;
    align-items: center; 
    padding-left: 15px;   /* Moves text inside from left */
    
    /* Positioning */
    position: fixed;
    bottom: 10px;  
    left: 27%;
    width: 47%;
}

/* this is the gradients thingy which displays them ya */

#users {
    background: var(--users-gradient)
}

#channels {
    background: var(--channels-gradient);
}

/* placeholder inside of the chat bar */
.chat-input::placeholder {
    color: #888;
    font-style: italic;
    opacity: 1; 
}
  


/* style of headlines */
.headline{
    font-family: 'Noto Sans', sans-serif;
    position: fixed;
    top: 0;
    right: 36%;
    width: 20%;
}


.user {
    color: #ffffff;
    background-color: var(--user);
    font-size: 16px;
    font-weight: 50;   
    border-radius: 5px;
    
    border: none;
    outline: none;
    
    font-family: 'Noto Sans', sans-serif;
    
    height: 10%; 
    display: flex;
    align-items: center;  /* Centers vertically */
    padding-left: 15px;   /* Moves text inside from left */
    
    /* Positioning */
    position: fixed;
    top: 15%;  /* Moves it to bottom instead of 'top: 91%' */
    left: 10%;
    width: 80%;
}

/* register nickname line thingy */
.displayName {
    color: #ffffff;
    background-color: var(--nick);
    font-size: 16px;
    font-weight: 50;   
    border-radius: 5px;
    
    border: none;
    outline: none;
    
    font-family: 'Noto Sans', sans-serif;
    
    height: 40px; 
    display: flex;
    align-items: center;  
    padding-left: 15px;   /* Moves text inside from left */
    
    /* Positioning */
    position: fixed;
    top: 60%;  
    left: 10%;
    width: 80%;
    height: 10%;
}

/* register password line thingy */
.password {
    color: #ffffff;
    background-color: var(--password);
    font-size: 16px;
    font-weight: 50;   
    border-radius: 5px;
    
    border: none;
    outline: none;
    
    font-family: 'Noto Sans', sans-serif;
    
    height: 40px; 
    display: flex;
    align-items: center; 
    padding-left: 15px;   /* Moves text inside from left */
    
    /* Positioning */
    position: fixed;
    top: 30%;  
    left: 10%;
    width: 80%;
    height: 10%;
}

.email {
    color: #ffffff;
    background-color: var(--password);
    font-size: 16px;
    font-weight: 50;   
    border-radius: 5px;
    
    border: none;
    outline: none;
    
    font-family: 'Noto Sans', sans-serif;
    
    height: 40px; 
    display: flex;
    align-items: center; 
    padding-left: 15px;   /* Moves text inside from left */
    
    /* Positioning */
    position: fixed;
    top: 45%;  
    left: 10%;
    width: 80%;
    height: 10%;
}

/* login password line thingy */
.login-password {
    color: #ffffff;
    background-color: var(--login-password);
    font-size: 16px;
    font-weight: 50;   
    border-radius: 5px;
    
    border: none;
    outline: none;
    
    font-family: 'Noto Sans', sans-serif;
    
    height: 40px; 
    display: flex;
    align-items: center;  
    padding-left: 15px;  
    
    /* Positioning */
    position: fixed;
    top: 50%;  
    left: 10%;
    width: 80%;
    height: 10%;
}

/* login username line thingy */
.login-user{
    color: #ffffff;
    background-color: var(--login-user);
    font-size: 16px;
    font-weight: 50;   
    border-radius: 5px;
    
    border: none;
    outline: none;
    
    font-family: 'Noto Sans', sans-serif;
    
    height: 10%; 
    display: flex;
    align-items: center;  
    padding-left: 15px;   /* Moves text inside from left */
    
    /* Positioning */
    position: fixed;
    top: 30%;  
    left: 10%;
    width: 80%;
}

/* done button for register and login */
.done-button {
    width: 80%;
    height: 50px;
    border: none;
    background-color: var(--done-button);
    color: #ffffff;
    font-weight: bold;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    display: block;
    position: fixed;
    bottom: 10%;  
    left: 10%;
    
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}


/* done button animation stuff */
.done-button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }

.done-button:hover{
    padding-right: 24px;
    padding-left:8px;
  }

.done-button:hover:after {
    opacity: 1;
    right: 10px;
  }

/* the channels stuff */
.channels{
    background-color: var(--channels);
    position: fixed;
    top: 0;
    left: 6%;
    width: 18%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* every channel, position */
.channel1{
    top: 3%;  
    left: 7%;
}

.channel2{
    top: 10%;  
    left: 7%;
}

.channel3{
    top: 17%;  
    left: 7%;
}

.channel4{
    top: 24%;  
    left: 7%;
}

.channel5{
    top: 31%;  
    left: 7%;
}

.channel6{
    top: 38%;  
    left: 7%;
}

.channel7{
    top: 45%;  
    left: 7%;
}

.channel8{
    top: 52%;  
    left: 7%;
}

/* all channels stuff */
.channel1, .channel2, .channel3, .channel4, .channel5, .channel6, .channel7, .channel8{
    width: 15%;
    height: 50px;
    border: none;
    background-color: var(--all-channels);
    color: #ffffff;
    image-resolution: 50px;
    font-weight: 50;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
    display: block;
    position: fixed;
    
    border-radius: 4px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .7);
}

/* body design */
body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    color: #ffffff;
    background-image: var(--body-image);
}

/* the rest is not used but we have it anyway in case we ever need it ! */
header {
    background-color: #f072f7;
    padding: 20px;
    text-align: center;
    color: white;
}
nav {
    margin: 10px 0;
    text-align: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #e37cf1;
    font-weight: bold;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}